{% extends '::base.html.twig' %}
{% block body %}
    {% include 'it-art/images/admin/menu.html.twig' %}
    <div class="container">
        {% if images %}
            <div class="row">
                <div class="col-sm-6" id="slider-thumbs">
                    <ul class="hide-bullets">
                        {% for image in images %}
                            <li class="col-sm-3">
                                <a class="thumbnail" id="carousel-selector-{{ loop.index0 }}">
                                    <img src="images/slideshow/{{ image.file }}" width="150px" height="150px">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="col-xs-12" id="slider">
                        <div class="row">
                            <div class="col-sm-12" id="carousel-bounding-box">
                                <div class="carousel slide" id="itartCarousel">
                                    <div class="carousel-inner">
                                        {% for image in images %}
                                            {% if loop.index0 == 0 %}
                                                {% set item = 'active item' %}
                                            {% else %}
                                                {% set item = 'item' %}
                                            {% endif %}
                                            <div class="{{ item }}" data-slide-number="{{ loop.index0 }}">
                                                <img src="images/slideshow/{{ image.file }}" width="470" height="480">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a class="left carousel-control" href="#itartCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#itartCarousel" role="button"
                                       data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center text-danger">Nenhuma Imagem nesta galeria!</h2>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}