{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Área Restrita</h1>
                <div class="account-wall">
                    <img class="profile-img"
                         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                         alt="">
                    <form class="form-signin" action="{{ path('login') }}" method="post">
                        <input type="email" id="username" name="_username" class="form-control"
                               placeholder="Informe seu Email" required autofocus>
                        <input type="password" id="password" name="_password" class="form-control"
                               placeholder="Informe sua Senha" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Entrar
                        </button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" id="remember_me" name="_remember_me">
                            Lembrar de mim
                        </label>
                        <span class="clearfix"></span>
                        {% if error %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <strong>Erro!</strong> Login inválido.
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}