{% extends '::base.html.twig' %}
{% block body %}
    {% include 'it-art/images/admin/menu.html.twig' %}
    <div class="container">
        {% if infoMessage %}
            {% for type, messages in infoMessage %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <a class="btn btn-success btn-xs" href="{{ path('new_image') }}">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Novo
        </a>
        {% if images %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>Imagem</th>
                    <th>Ações</th>
                    </thead>
                    <tbody>
                    {% for image in images %}
                        <tr>
                            <td><img src="/images/slideshow/{{ image.file }}" width="80" height="60"></td>
                            <td width="10%" valign="center">
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#modalDelete-{{ image.id }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for image in images %}
                <!-- Modal-{{ image.id }} -->
                <div class="modal fade" id="modalDelete-{{ image.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modalDelete-{{ image.id }}-Label">Confirmação de
                                    Exclusão</h4>
                            </div>
                            <div class="modal-body">
                                <h2>Deseja realmente excluir esta imagem?</h2>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <a href="{{ path('delete_image', {'id': image.id}) }}" type="button"
                                   class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center text-danger">Nenhuma Imagem nesta galeria!</h2>
                </div>
            </div>
        {% endif %}
    </div> <!-- /container -->
{% endblock %}