<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Galeria de Imagem</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li>
                        <a href="{{ path('admin_list') }}">Lista</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}">Sair</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('admin_list') }}">ADMIN</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>