{% extends '::base.html.twig' %}
{% block body %}
    {% include 'it-art/images/admin/menu.html.twig' %}
    <div class="container">
        <h1>Adicionar Imagem</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="form-group">
                    <label>Imagem</label>
                    {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Enviar</button>
        {{ form_end(form) }}
    </div>
{% endblock %}